{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<h1>À propos de l’application</h1>

<p>
    Sky of Tonight est une application dédiée à l’exploration de l’espace :
    étoiles, constellations et galaxies.
</p>

<hr>

<h2>Contactez-nous</h2>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.message) }}
    {{ form_row(form.send) }}
{{ form_end(form) }}
{% endblock %}
