{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/stylesss.css') }}">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{{ path('app_home') }}">
            📬 Contact
        </a>
    </div>
</nav>

<section id="contact-form">
    <div class="stars"></div>

    <div class="container text-center">
        <h1 class="mb-4">Contactez-nous</h1>

        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}

            <div class="text-center">
                {{ form_widget(form.send) }}
            </div>

        {{ form_end(form) }}
    </div>
</section>

{% endblock %}
