{% extends 'base.html.twig' %}

{% block title %}Modifier l'étoile{% endblock %}

{% block body %}
<h1>Modifier l'étoile : {{ star.name }} 🌟</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('star_list') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}
